In [14]:
import pandas as pd

data=pd.DataFrame({
    'name':['uday','bhaskar'],
    'age':[23,25]
})
s=[0,4,1,4,2]
d=pd.Series(s,index=['a','f','e','t','r'])
print(d)

a    0
f    4
e    1
t    4
r    2
dtype: int64

In [17]:
df=pd.read_excel("C:\\Users\\judaybhx\\OneDrive - Intel Corporation\Desktop\\Data Science\\imus+(2).xlsx")
pd.DataFrame(df)

,category,manufacturer,part_number,sku,alt_sku,description,status,qty,price,sku_create_date
0,1539,MS-OPEN VALUE SUBSCRIPTION,021-09108,BA0011,NaN,"1YR OFFICESTD ALNG LICSAPK OLV, D AP",No Stock,0,143.58,2020-08-17
1,1539,MS-OPEN VALUE SUBSCRIPTION,059-07014,BA0025,NaN,"1YR WORD ALNG LICSAPK OLV D AP,",No Stock,0,56.09,2020-08-17
2,1539,MS-OPEN VALUE SUBSCRIPTION,065-06444,BA0039,NaN,"1YR EXCEL ALNG LICSAPK OLV D AP,",No Stock,0,56.09,2020-08-17
3,1539,MS-OPEN VALUE SUBSCRIPTION,076-04355,BA0067,NaN,"1YR PRJCT ALNG LICSAPK OLV D AP,",No Stock,0,217.60,2020-08-17
4,1582,MS-OPEN VALUE SUBSCRIPTION,077-05318,BA0080,NaN,"1YR ACCESS ALNG LICSAPK OLV D, AP",No Stock,0,56.09,2020-08-17
...,...,...,...,...,...,...,...,...,...,...
1048570,1241,IOSAFE DIRECT SHIP,75200-3838-1500,6QP586,NaN,"IOSAFE 1019+ NAS 5X4TB WITH 5YR, DATA RECOVERY...",No Stock,0,4557.08,2020-08-17
1048571,1241,IOSAFE DIRECT SHIP,75200-3838-1500,6QP586,NaN,"IOSAFE 1019+ NAS 5X4TB WITH 5YR, DATA RECOVERY...",No Stock,0,4557.08,2020-08-17
1048572,1241,IOSAFE DIRECT SHIP,75200-3840-1500,6QP587,NaN,"IOSAFE 1019+ NAS 5X8TB WITH 5YR, DATA RECOVERY...",No Stock,0,7034.83,2020-08-17
1048573,1241,IOSAFE DIRECT SHIP,75200-3840-1500,6QP587,NaN,"IOSAFE 1019+ NAS 5X8TB WITH 5YR, DATA RECOVERY...",No Stock,0,6836.14,2020-08-17
1048574,1241,IOSAFE DIRECT SHIP,75200-3840-1500,6QP587,NaN,"IOSAFE 1019+ NAS 5X8TB WITH 5YR, DATA RECOVERY...",No Stock,0,6836.14,2020-08-17

In [2]:
#Merging all the sheets in excel into one dataframe
import matplotlib.pyplot as plt
import pandas as pd
import seaborn as sns
df=pd.concat(pd.read_excel("C:\\Users\\judaybhx\\OneDrive - Intel Corporation\Desktop\\Data Science\\imus+(2).xlsx",sheet_name=None),ignore_index=True)
df

,category,manufacturer,part_number,sku,alt_sku,description,status,qty,price,sku_create_date
0,1539,MS-OPEN VALUE SUBSCRIPTION,021-09108,BA0011,NaN,"1YR OFFICESTD ALNG LICSAPK OLV, D AP",No Stock,0,143.58,2020-08-17
1,1539,MS-OPEN VALUE SUBSCRIPTION,059-07014,BA0025,NaN,"1YR WORD ALNG LICSAPK OLV D AP,",No Stock,0,56.09,2020-08-17
2,1539,MS-OPEN VALUE SUBSCRIPTION,065-06444,BA0039,NaN,"1YR EXCEL ALNG LICSAPK OLV D AP,",No Stock,0,56.09,2020-08-17
3,1539,MS-OPEN VALUE SUBSCRIPTION,076-04355,BA0067,NaN,"1YR PRJCT ALNG LICSAPK OLV D AP,",No Stock,0,217.60,2020-08-17
4,1582,MS-OPEN VALUE SUBSCRIPTION,077-05318,BA0080,NaN,"1YR ACCESS ALNG LICSAPK OLV D, AP",No Stock,0,56.09,2020-08-17
...,...,...,...,...,...,...,...,...,...,...
2627921,9945,VERBATIM CORPORATION,93975,986034,NaN,"CD & DVD TRIMPAK CASES 200PK, CLEAR FLEXIBLE P...",In Stock,12,50.53,2020-08-28
2627922,9945,VERBATIM CORPORATION,93975,986034,NaN,"CD & DVD TRIMPAK CASES 200PK, CLEAR FLEXIBLE P...",In Stock,12,50.53,2020-08-28
2627923,9945,VERBATIM CORPORATION,93975,986034,NaN,"CD & DVD TRIMPAK CASES 200PK, CLEAR FLEXIBLE P...",In Stock,12,50.53,2020-08-28
2627924,9945,VERBATIM CORPORATION,93975,986034,NaN,"CD & DVD TRIMPAK CASES 200PK, CLEAR FLEXIBLE P...",In Stock,12,50.53,2020-08-28
2627925,9945,VERBATIM CORPORATION,93975,986034,NaN,"CD & DVD TRIMPAK CASES 200PK, CLEAR FLEXIBLE P...",In Stock,12,50.53,2020-08-28

In [3]:
#separating only stock products
df_stock=df[df['status']=='In Stock']
df_stock

,category,manufacturer,part_number,sku,alt_sku,description,status,qty,price,sku_create_date
253,9920,CASE LOGIC-PERSONAL & PORTABLE,3200943,BA6371,NaN,"LAPTOP ROLLING CASE BLACK, SECURITY FRIENDLY 17IN",In Stock,7,99.00,2020-08-17
271,531,OMNITRON SYSTEMS,7206-0,BA6834,NaN,"1000BASE-SX SFP LC/MM/DF 850NM, 550M PLUGGABLE...",In Stock,2,59.09,2020-08-17
320,9070,ZEBRA ENTERPRISE MCD-A1,SAC5070-800CR,BC0227,NaN,"RS507 8SLOT BATTERY CHARGE KIT, EXT PWR SUPL/U...",In Stock,3,500.06,2020-08-17
324,9080,ZEBRA ENTERPRISE MCD-A1,KT-CLMPT-RS507-01R,BC0232,NaN,"RS507 TRIGGER SWIVEL DOES NOT, INCLUDE STRAP/B...",In Stock,115,86.34,2020-08-17
326,9080,ZEBRA ENTERPRISE MCD-A1,KT-PAD-RS507-10R,BC0234,NaN,"10 CT COMFORT PADS FOR RS507,",In Stock,42,51.80,2020-08-17
...,...,...,...,...,...,...,...,...,...,...
2627921,9945,VERBATIM CORPORATION,93975,986034,NaN,"CD & DVD TRIMPAK CASES 200PK, CLEAR FLEXIBLE P...",In Stock,12,50.53,2020-08-28
2627922,9945,VERBATIM CORPORATION,93975,986034,NaN,"CD & DVD TRIMPAK CASES 200PK, CLEAR FLEXIBLE P...",In Stock,12,50.53,2020-08-28
2627923,9945,VERBATIM CORPORATION,93975,986034,NaN,"CD & DVD TRIMPAK CASES 200PK, CLEAR FLEXIBLE P...",In Stock,12,50.53,2020-08-28
2627924,9945,VERBATIM CORPORATION,93975,986034,NaN,"CD & DVD TRIMPAK CASES 200PK, CLEAR FLEXIBLE P...",In Stock,12,50.53,2020-08-28
2627925,9945,VERBATIM CORPORATION,93975,986034,NaN,"CD & DVD TRIMPAK CASES 200PK, CLEAR FLEXIBLE P...",In Stock,12,50.53,2020-08-28

In [6]:
#separating only No stock products
df_Nostock=df[df['status']=='No Stock']
df_Nostock

,category,manufacturer,part_number,sku,alt_sku,description,status,qty,price,sku_create_date
0,1539,MS-OPEN VALUE SUBSCRIPTION,021-09108,BA0011,NaN,"1YR OFFICESTD ALNG LICSAPK OLV, D AP",No Stock,0,143.58,2020-08-17
1,1539,MS-OPEN VALUE SUBSCRIPTION,059-07014,BA0025,NaN,"1YR WORD ALNG LICSAPK OLV D AP,",No Stock,0,56.09,2020-08-17
2,1539,MS-OPEN VALUE SUBSCRIPTION,065-06444,BA0039,NaN,"1YR EXCEL ALNG LICSAPK OLV D AP,",No Stock,0,56.09,2020-08-17
3,1539,MS-OPEN VALUE SUBSCRIPTION,076-04355,BA0067,NaN,"1YR PRJCT ALNG LICSAPK OLV D AP,",No Stock,0,217.60,2020-08-17
4,1582,MS-OPEN VALUE SUBSCRIPTION,077-05318,BA0080,NaN,"1YR ACCESS ALNG LICSAPK OLV D, AP",No Stock,0,56.09,2020-08-17
...,...,...,...,...,...,...,...,...,...,...
2627418,3360,TARGUS,AMB580TT,9X4546,NaN,"B580 BLUETOOTH MOUSE BLCK,",No Stock,0,19.53,2020-08-28
2627775,505,ENGENIUS,EAP1300,9Z0170,NaN,"11AC WAVE 2 INDOOR WRLS AP,",No Stock,0,85.24,2020-08-28
2627822,9910,KINGSTON,HX-MPFS-SM,9Z6619,NaN,"HYPERX FURY S PRO GAMING, MOUSE PAD SMALL",No Stock,0,13.75,2020-08-28
2627853,291,KINGSTON TECHNOLOGY FLASH,SD10VG2/16GBCP,9Z8507,NaN,"BULK 16GB SDHC CLASS 10 UHS-I, 45R MUST ORDER ...",No Stock,0,16.51,2020-08-28
2627857,291,KINGSTON,IKD300S/4GB,9103LA,NaN,"4GB D300S/D300SM AES 256 XTS, ENCRYPTED USB DRIVE",No Stock,0,52.83,2020-08-28

In [12]:
#1. Which are the top Manufacturers with price, quantity?
m=df_stock.groupby(['price','qty'])['manufacturer']
m=pd.DataFrame(m)
m.tail()
#it is not a exact value i think

                    0                                                  1
118677  (29385.55, 3)  1203946    HPE - ARUBA INSTANT
Name: manufactu...
118678  (35554.13, 1)  1203979    HPE - ARUBA INSTANT
Name: manufactu...
118679  (40893.99, 2)  2571702    HPE - NIMBLE BTO
Name: manufacturer...
118680  (40893.99, 3)  2620934    HPE - NIMBLE BTO
Name: manufacturer...
118681  (69729.03, 3)  1199874    HPE - SWITCHING
Name: manufacturer,...

In [15]:
#2. Which are the most profitable products?
df_stock.sort_values('price',ascending=False)

,category,manufacturer,part_number,sku,alt_sku,description,status,qty,price,sku_create_date
1199874,521,HPE - SWITCHING,JL376A#B2B,6RN996,NaN,"ARUBA 8400 1 MM 3 PS 2 FM 32/8, BDL JMPCBL-NA/...",In Stock,3,69729.03,2020-08-20
2571702,295,HPE - NIMBLE BTO,R3S72A,7JQ609,NaN,"HPE NS AF20 ALL FLASH 23TB BDL, 1 OR 3 YR SUPP...",In Stock,2,40893.99,2020-08-27
2620934,295,HPE - NIMBLE BTO,R3S72A,7JQ609,NaN,"HPE NS AF20 ALL FLASH 23TB BDL, 1 OR 3 YR SUPP...",In Stock,3,40893.99,2020-08-28
1203979,505,HPE - ARUBA INSTANT,JW830A,7U5737,NaN,"ARUBA 7240XM US FIPS/TAA, CONTROLLER PL=VL",In Stock,1,35554.13,2020-08-20
1203946,505,HPE - ARUBA INSTANT,JW675A,7U4379,NaN,"7240XMDC CONTROLLER, PL=VL",In Stock,3,29385.55,2020-08-20
...,...,...,...,...,...,...,...,...,...,...
1523294,2201,C2G,01921,U40479,NaN,"RJ11 4X4 MOD PLUG FLAT STRND, CBL",In Stock,21,0.20,2020-08-24
1287203,1251,CONFIG 1,BTRY-MC55EAB00,CX4544,NaN,"MC55 STANDARD SPARE BATTERY, W/ LABEL SHEET ...",In Stock,71,0.00,2020-08-24
21676,1251,CONFIG 1,SCX-5835FN - TAA,CX4513,NaN,"SCX-5835FN MONO LASER P/S/C/F,",In Stock,1,0.00,2020-08-17
21677,1251,CONFIG 1,BTRY-MC55EAB00,CX4544,NaN,"MC55 STANDARD SPARE BATTERY, W/ LABEL SHEET ...",In Stock,71,0.00,2020-08-17
1287202,1251,CONFIG 1,SCX-5835FN - TAA,CX4513,NaN,"SCX-5835FN MONO LASER P/S/C/F,",In Stock,1,0.00,2020-08-24

In [35]:
#3. Which is the product where you have seen a decrease in the price?
d=df_stock.groupby(['part_number','sku_create_date'])['price'].max()
d=pd.DataFrame(d)
d.sort_values(by='price',ascending=False)

                                     price
part_number      sku_create_date
JL376A#B2B       2020-08-20       69729.03
R3S72A           2020-08-27       40893.99
                 2020-08-28       40893.99
JW830A           2020-08-20       35554.13
JW675A           2020-08-20       29385.55
...                                    ...
03810            2020-08-17           0.46
01921            2020-08-24           0.21
                 2020-08-17           0.21
SCX-5835FN - TAA 2020-08-17           0.00
                 2020-08-24           0.00

[111056 rows x 1 columns]

In [36]:
#4. Which is the product where you have seen an increase in the price?
d=df_stock.groupby(['part_number','sku_create_date'])['price'].min()
d=pd.DataFrame(d)
d.sort_values(by='price')

                                     price
part_number      sku_create_date
JL376A#B2B       2020-08-20       69729.03
R3S72A           2020-08-28       40893.99
                 2020-08-27       40893.99
JW830A           2020-08-20       35554.13
JW675A           2020-08-20       29385.55
...                                    ...
01921            2020-08-24           0.20
SCX-5835FN - TAA 2020-08-24           0.00
                 2020-08-17           0.00
BTRY-MC55EAB00   2020-08-17           0.00
                 2020-08-24           0.00

[111056 rows x 1 columns]

In [8]:
#5. Which is the top category by price and quantity?
d=df_stock.groupby(['price','qty'])['category'].max()
d=pd.DataFrame(d)
print(d)

              category
price    qty
0.00     1        1251
         71       1251
0.20     21       2201
0.21     21       2201
0.44     8        2250
...                ...
29385.55 3         505
35554.13 1         505
40893.99 2         295
         3         295
69729.03 3         521

[118682 rows x 1 columns]

In [9]:
#6. Which products are aging?

In [10]:
#7. How to Decrease Product aging?
# A - By updating the product according to on going trend we can decrease product aging

In [11]:
# Data not in stock
# 1 Which are the top Manufacturers with price, quantity?
m=df_Nostock.groupby(['price','qty'])['manufacturer']
m=pd.DataFrame(m)
m.tail()

                       0                                                  1
118930    (5600000.0, 0)  997704     JUNIPER ENTERPRISE ROUTING
2261823 ...
118931    (6966000.0, 0)  973606     JUNIPER ROW SERVICES
2237746    JUN...
118932   (10449000.0, 0)  973610     JUNIPER ROW SERVICES
2237750    JUN...
118933  (28324844.37, 0)  1046051    ALTNET
2310141    ALTNET
Name: manu...
118934   (84974533.1, 0)  1046052    ALTNET
2310142    ALTNET
Name: manu...

In [12]:
#2. Which are the most profitable products?
df_Nostock.sort_values('price',ascending=False)

,category,manufacturer,part_number,sku,alt_sku,description,status,qty,price,sku_create_date
1046052,1231,ALTNET,ALT-TPM-240000000,6QN385,NaN,"ALTNET TPM UP TO 240000000 USD, LIST MNT UPTO ...",No Stock,0,84974533.10,2020-08-17
2310142,1231,ALTNET,ALT-TPM-240000000,6QN385,NaN,"ALTNET TPM UP TO 240000000 USD, LIST MNT UPTO ...",No Stock,0,84974533.10,2020-08-24
1046051,1231,ALTNET,ALT-TPM-80000000,6QN384,NaN,"ALTNET TPM UP TO 80000000 USD, LIST MNT UPTO 8...",No Stock,0,28324844.37,2020-08-17
2310141,1231,ALTNET,ALT-TPM-80000000,6QN384,NaN,"ALTNET TPM UP TO 80000000 USD, LIST MNT UPTO 8...",No Stock,0,28324844.37,2020-08-24
973610,1241,JUNIPER ROW SERVICES,SV5-SWA-JCE-1KGBPS,6JB451,NaN,"ROW 5YR SWA SUP FOR, JCE-1000GBPS",No Stock,0,10449000.00,2020-08-17
...,...,...,...,...,...,...,...,...,...,...
720918,9920,4E PROJECT/ACME MADE,AM20311-HT,4R2125,NaN,"AM20311-HT MATTE BLACK UNION, STREET COMMUTER ...",No Stock,0,0.00,2020-08-17
720919,9920,4E PROJECT/ACME MADE,AM20411-HT,4R2126,NaN,"AM20411-HT BLACK ORANGE NORTH, POINT MINI MESS...",No Stock,0,0.00,2020-08-17
1985351,9920,4E PROJECT/ACME MADE,AM20411-HT,4R2126,NaN,"AM20411-HT BLACK ORANGE NORTH, POINT MINI MESS...",No Stock,0,0.00,2020-08-24
1985350,9920,4E PROJECT/ACME MADE,AM20311-HT,4R2125,NaN,"AM20311-HT MATTE BLACK UNION, STREET COMMUTER ...",No Stock,0,0.00,2020-08-24
1985336,9920,4E PROJECT/ACME MADE,AM10111-BX,4R2110,NaN,"AM10111-BX SKINNY SLEEVE MATTE, BLACK FOR IPAD...",No Stock,0,0.00,2020-08-24

In [13]:
#3. Which is the product where you have seen a decrease in the price?
d=df_Nostock.groupby(['part_number','sku_create_date'])['price'].max()
d=pd.DataFrame(d)
d.sort_values(by='price',ascending=False)

                                          price
part_number        sku_create_date
ALT-TPM-240000000  2020-08-17       84974533.10
                   2020-08-24       84974533.10
ALT-TPM-80000000   2020-08-24       28324844.37
                   2020-08-17       28324844.37
SV5-SWA-JCE-1KGBPS 2020-08-24       10449000.00
...                                         ...
AM10621-SLV        2020-08-17              0.00
                   2020-08-24              0.00
AM10631-SLV        2020-08-17              0.00
AM20111-HT         2020-08-17              0.00
AM10121-BX         2020-08-24              0.00

[639405 rows x 1 columns]

In [14]:
#4. Which is the product where you have seen an increase in the price?
d=df_Nostock.groupby(['part_number','sku_create_date'])['price'].min()
d=pd.DataFrame(d)
d.sort_values(by='price')

                                          price
part_number        sku_create_date
AM36521            2020-08-24              0.00
AM36522            2020-08-24              0.00
                   2020-08-17              0.00
INSTAPP1YRWMA      2020-08-24              0.00
AM36521            2020-08-17              0.00
...                                         ...
SV5-SWA-JCE-1KGBPS 2020-08-17       10449000.00
ALT-TPM-80000000   2020-08-17       28324844.37
                   2020-08-24       28324844.37
ALT-TPM-240000000  2020-08-17       84974533.10
                   2020-08-24       84974533.10

[639405 rows x 1 columns]

In [15]:
#5. Which is the top category by price and quantity?
d=df_Nostock.groupby(['price','qty'])['category'].max()
d=pd.DataFrame(d)
print(d)

                 category
price       qty
0.00        0        9920
0.01        0        9995
0.02        0        1569
0.03        0        1569
0.04        0        1569
...                   ...
5600000.00  0        1241
6966000.00  0        1241
10449000.00 0        1241
28324844.37 0        1231
84974533.10 0        1231

[118935 rows x 1 columns]